#profileImage {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  position: relative;
  float: left;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  margin: 240px 80px 240px 0px;
}

section {
  background-image: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.aboutMeIntroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 24px;
  border-radius: 20px;
  background-color: rgba(245, 245, 245, 0.4);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  padding: 24px;
  width: 1020px;
  
}

.aboutMeIntro {
  font-size: 20px;
  font-weight: 150;
  color: #444444;
  line-height: 32px;
  margin: 0;
}

#aboutMeContentSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.9);
  margin: 180px;
  height: 600px;
  width: fit-content;
  padding: 30px;
  box-shadow: 0px 0px 10px #ffffffb5;
}

.sectionCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutMeContainer {
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}

.aboutMeContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;


}

.aboutMeHeader {
  font-size: 24px;
  border-bottom: 2px solid #444444;
  margin: 24px 0px
}

.verticalLine {
  border-right: 1px solid #444444;
  height: 484px;
  width: 0;
}

.aboutMeImage {
  border-radius: 50%;
  height: 180px;
  width: 180px;
  border: 3px solid #444444;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  margin: 0;
}

.aboutMeText {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  height: 60px;
}

.aboutMeTextBold{
  font-size: 18px;
}

#sdmpText {
  margin: 0;
  align-items: flex-start;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 1500px;

}

@media (max-width: 1470px) {

}