#profileImage {
  border-radius: 50%;
  width: 21vw;
  height: 21vw;
  position: relative;
  float: left;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  margin: 12vw 5vw 12vw 0;
}

section {
  background-image: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.aboutMeIntroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.5vw;
  border-radius: 1vw;
  background-color: rgba(245, 245, 245, 0.4);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  padding: 1.5vw;
  width: 50vw;
}

.aboutMeIntro {
  font-size: 1.2vw;
  font-weight: 150;
  color: #424242;
  line-height: 1.5vw;
  margin: 0;
}

#aboutMeContentSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.9);
  margin: 10vw;
  height: 30vw;
  width: fit-content;
  padding: 1.5vw 0 1.5vw 0;
  box-shadow: 0px 0px 10px #ffffffb5;
}

.sectionCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutMeContainer {
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}

.aboutMeContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 16vw;
}

.aboutMeHeader {
  font-size: 1.5vw;
  border-bottom: .15vw solid #424242;
  margin: 1.5vw 0;
  color: #424242;
}

.verticalLine {
  border-right: .1vw solid #424242;
  height: 28vw;
  width: 0;
}

.aboutMeImage {
  border-radius: 50%;
  height: 10vw;
  width: 10vw;
  border: 0.2vw solid #424242;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  margin: .2vw 0 0 0;
}

.aboutMeText {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  height: 3vw;
  font-size: .85vw;
}

.aboutMeTextBold{
  margin: 0 0 0.5vw 0;
  font-size: 1vw;
}

#sdmpText {
  margin: 0;
  align-items: flex-start;
  font-size: .85vw;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 80vw;

}

@media (max-width: 1200px) {
  #profileImage {
    border-radius: 50%;
    width: 24vw;
    height: 24vw;
    margin: 12vw 1vw 12vw 0;
  }

  .aboutMeIntroContainer {
    gap: 1.5vw;
    border-radius: 1vw;
    padding: 1.5vw;
    width: 60vw;
}

.aboutMeIntro {
  font-size: 1.6vw;
  font-weight: 150;
  color: #424242;
  line-height: 2vw;
  margin: 0;
}

  main {
    width: 100vw;
  }

  #aboutMeContentSection {
    height: 54vw;
  }

  .aboutMeContentContainer {
  width: 29vw;
  }
.aboutMeImage {
  height: 15vw;
  width: 15vw;
  border: 0.3vw solid #424242;
}

.aboutMeHeader {
  font-size: 2.5vw;
  border-bottom: 0.2vw solid #424242;
  margin: 2vw 0;
}

.aboutMeText {
  height: 4vw;
  font-size: 1.5vw;
}

.aboutMeTextBold {
  margin: 0 0 1.5vw 0;
  font-size: 1.8vw;
}

#sdmpText {
  font-size: 1.5vw;
  width: 28vw;
}

.verticalLine {
  height: 40vw;
}

}















@media (max-width: 800px) {
  #profileImage {
    border-radius: 50%;
    width: 40vw;
    height: 40vw;
    position: relative;
    float: left;
    margin: 12vw 0 6vw 0;
  }

  .aboutMeIntroContainer {
    gap: 4.5vw;
    padding: 2.5vw;
    width: 80vw;
    margin-bottom: 12vw;
}

.aboutMeIntro {
  font-size: 3vw;
  font-weight: 150;
  color: #424242;
  line-height: 3.5vw;
  margin: 0;
}

main {
  justify-content: center;
  flex-direction: column;
  width: none;

}

  #aboutMeContentSection {
    height: 60vw;
    padding: 3vw 0 0 0;
  }


  .aboutMeContentContainer {
    width: 32vw;
}

  .aboutMeImage {
    height: 18vw;
    width: 18vw;
  }
  
  .aboutMeHeader {
    font-size: 4vw;
    border-bottom: 0.3vw solid #424242;
    margin: 4vw 0;
  }
  
  .aboutMeText {
    height: 6vw;
    font-size: 1.8vw;
  }
  
  .aboutMeTextBold {
    margin: 0 0 1.5vw 0;
    font-size: 2vw;
  }
  
  #sdmpText {
    font-size: 1.8vw;
    width: 30vw;
  }
  
  .verticalLine {
    height: 54vw;
  }